* {
	background-color: rgb(20, 19, 31);
	font-family: 'Futurica Bk BT', monospace;
	box-sizing: border-box;
}

.name {
	text-align: center;
	font-size: 48px;
	color: beige;
	font-weight: 100;
}

.result {
	font-size: 2em;
	color: beige;
	margin: 0 0 30px 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game {
	width: 600px;
	height: 600px;
	padding: 0;
	display: flex;
	flex-flow: wrap;
	outline: brown 2px solid;
}

.game-area {
	width: 200px;
	height: 200px;
	border: 2px solid brown;
	cursor: pointer;
}

.restart {
	margin: 1em;
	width: 250px;
	height: 50px;
	background-color: rgb(164, 199, 129);
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(20, 19, 31);
	border-radius: 4px;
	cursor: pointer;
}

.active {
	background: rgb(73, 133, 59);
}

.cross {
	background-color: transparent;
	width: 100%;
	height: 100%;
}

.first {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: draw 0.5s forwards;
}

.second {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: draw 0.5s 0.5s forwards;
}

.circle {
	background-color: transparent;
	width: 100%;
	height: 100%;
	stroke-dasharray: 408;
	stroke-dashoffset: 408;
	animation: draw 1s forwards;
}

@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}
